In [3]:
#1

km = float(input("Enter in KM"))

miles = km * 0.621371192

print(f"{km} km = {miles} miles")

Enter in KM30
30.0 km = 18.64113576 miles

In [6]:
#2

c = float(input("Enter the temperature in Celcius "))
f = (c * 1.8) + 32

print(f"{c} degree C = {f} degree F")

Enter the temperature in Celcius 45
45.0 degree C = 113.0 degree F

In [11]:
#3

import calendar


yy = int(input("Enter the year "))
mm = int(input("Enter the month "))


print(calendar.month(yy,mm))

Enter the year 2002
Enter the month 11
   November 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [22]:
#4

import cmath

a = int(input("put the alue of a"))
b = int(input("put the alue of b"))
c = int(input("put the alue of c"))

d = (b**2 - 4*a*c)

s1 = (-b+cmath.sqrt(d))/2*a
s2 = (-b-cmath.sqrt(d))/2*a

print(f"the solutions are {s1} and {s2}")

put the alue of a3
put the alue of b7
put the alue of c8
the solutions are (-10.5+10.283481900601565j) and (-10.5-10.283481900601565j)

In [17]:
#5

x = 5
y = 6

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  6
After swapping:
Value of x :  6  and y :  5